<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>

    <td><%= @figure.name %></td></<br>


    <td><%= @figure.titles.first.name %></td>
<table>


<a class="button" href="/figures">Figures</a>
